.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/9f20e877-26ec-4858-bc1f-150037e39220.jpg");
  background-size: 277.6542px 172.14404px;
  z-index: -1;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n77456ebc-d556-4b37-8966-9598d74709a4 {
  left: 0px;
  top: 84px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .tlDevice {
  width: 11.967742px;
  height: 11.967742px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.967742px 11.967742px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .tcDevice {
  width: 277.0645px;
  height: 11.967742px;
  left: 15.967742px;
  top: 4.0px;
  background-size: 277.0645px 11.967742px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .trDevice {
  width: 11.967742px;
  height: 11.967742px;
  left: 293.03226px;
  top: 4.0px;
  background-size: 11.967742px 11.967742px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .clDevice {
  width: 11.967742px;
  height: 172.06451px;
  left: 4.0px;
  top: 15.967742px;
  background-size: 11.967742px 172.06451px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .crDevice {
  width: 11.967742px;
  height: 172.06451px;
  left: 293.03226px;
  top: 15.967742px;
  background-size: 11.967742px 172.06451px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .blDevice {
  width: 11.967742px;
  height: 11.967742px;
  left: 4.0px;
  top: 188.03226px;
  background-size: 11.967742px 11.967742px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .bcDevice {
  width: 277.0645px;
  height: 11.967742px;
  left: 15.967742px;
  top: 188.03226px;
  background-size: 277.0645px 11.967742px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .brDevice {
  width: 11.967742px;
  height: 11.967742px;
  left: 293.03226px;
  top: 188.03226px;
  background-size: 11.967742px 11.967742px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .scenarioDevice {
  height: 196px;
  width: 301px;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 .scenarioScreenThumbnail {
  height: 172.06451px;
  width: 277.0645px;
  margin: 11.967742px 0 0 11.967742px;
  background-image: url("../../resources/scenarios/screens/9706ace2-d9df-4da6-b366-6b0a7d5926ca.jpg");
  background-size: 277.49744px 172.06451px;
  z-index: -1;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #n92b522ea-9ed7-48c6-b69f-7bc85e492a53 {
  left: 333px;
  top: 83px;
  width: 309px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-850cff1e-2a72-4bfb-ab6a-c8f651d812bd #nb48c3720-bcd7-40cf-82bd-33e6f244940a {
  left: 255px;
  top: 0px;
  width: 121px;
  height: 46px;
  background-color: #EBECA3;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#scenarioWrapper {
  width: 642px;
  height: 308px;
}