.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/8cbb4f2a-f2a5-4822-af2b-b6763506b1b1.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n579f9ee2-d1ae-41c6-bbc5-84519cfbb929 {
  left: 429px;
  top: 303px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/95c928cd-4aec-4178-82a4-612b64eace86.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #naca09772-1615-4746-a492-24f8a15e4712 {
  left: 429px;
  top: 562px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/ccd9387e-f04a-4634-8908-8ac53ee39581.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n9c83f903-8606-4d2b-af26-014d73a89a59 {
  left: 215px;
  top: 71px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/ae7c2346-c211-4bdc-9407-2916a1294c87.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n954665f1-9a5c-4d61-a4c4-21a8339687ca {
  left: 0px;
  top: 313px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/f7d15729-a599-4d21-b4ea-5e8795fe63de.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n665f9c7a-7546-41a7-8e0a-8911f3995f1b {
  left: 0px;
  top: 562px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-8627fccd-dab1-4b94-983a-dfc033d85cb1 #n148c3582-6214-449c-8c21-04b845f276e7 {
  left: 303px;
  top: 0px;
  width: 121px;
  height: 46px;
  background-color: #EBECA3;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#scenarioWrapper {
  width: 737px;
  height: 786px;
}