.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/0260ca3c-52e0-4ea9-a999-3ce0a00fb47b.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nab27e663-60a8-4b7b-8625-f385d2bb5384 {
  left: 0px;
  top: 81px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/a5517f1f-4eca-472c-900a-0b45571ab404.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #nce764395-3fa0-451d-a8cb-ccf9a11bce2d {
  left: 343px;
  top: 81px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-9722ffec-c611-46cf-8e39-fc4c48be2d54 #n341aeb5f-f41e-48b4-84ec-15a6cf78fdb6 {
  left: 259px;
  top: 0px;
  width: 121px;
  height: 46px;
  background-color: #EBECA3;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#scenarioWrapper {
  width: 651px;
  height: 305px;
}