.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/f94fcbe9-9976-4e59-89cf-52452ea7e145.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne0dce030-fe90-46e3-a50c-d044eeb13207 {
  left: 0px;
  top: 0px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/6ac60667-37b0-4a50-a4db-6365e5ae9cf8.jpg");
  background-size: 277.22272px 172.14404px;
  z-index: -1;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nd00a5025-bf53-4a84-b39b-15896b2425c1 {
  left: 160px;
  top: 239px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/a7cb14f6-ec3d-4cf2-895d-5475a4ae2240.jpg");
  background-size: 277.6542px 172.14404px;
  z-index: -1;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #na7ff23f6-2409-4404-b52d-21348a5fdc7c {
  left: 330px;
  top: 0px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/506a7cc4-4c63-4730-ac47-8bd256e9320c.jpg");
  background-size: 277.22272px 172.14404px;
  z-index: -1;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n54901e7f-1cbe-4fa1-b68b-901a8060bc34 {
  left: 166px;
  top: 475px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n76832ebc-10f4-4ae2-9c67-dbdc8c9e0e44 {
  left: 10px;
  top: 346px;
  width: 121px;
  height: 46px;
  background-color: #CC83F8;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #n4186367f-2d2e-4bf8-9d2e-241642c304c0 {
  left: 10px;
  top: 263px;
  width: 121px;
  height: 46px;
  background-color: #6ACA6B;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #ne012cbe1-00f5-477a-b1c9-58c3ebe037e1 {
  left: 491px;
  top: 401px;
  width: 121px;
  height: 46px;
  background-color: #9DB9F8;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nb282ed9e-3eb1-4c4d-9391-8c28c308cb62 {
  left: 491px;
  top: 318px;
  width: 121px;
  height: 46px;
  background-color: #F89A34;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
.sc-b89c5f3d-f19a-4b5f-af2b-40725ae3434c #nac6d2171-f010-4362-a378-3f725735cd8a {
  left: 491px;
  top: 237px;
  width: 121px;
  height: 46px;
  background-color: #F8C4C2;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#scenarioWrapper {
  width: 638px;
  height: 699px;
}