.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/88b2198f-0ad3-4908-9390-322c48275f1b.jpg");
  background-size: 277.22272px 172.14404px;
  z-index: -1;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n8730f3b3-4a97-45a8-bd82-926b86e3b87b {
  left: 145px;
  top: 0px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/b35718ba-d2d3-43ef-bfab-df2cd6bd0390.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n7c8f2e5c-0e2b-442c-b004-29726e47f0e4 {
  left: 6px;
  top: 229px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/8a242192-1e87-47d9-a66c-7b16cb0ee375.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n0ba5de87-4dc6-4db4-996a-0986d8b69b44 {
  left: 352px;
  top: 229px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/b1a23562-027d-44c3-99bc-20ddd0ac6489.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb50aa0c1-0cb3-4614-bfe1-ca3b02fdb899 {
  left: 0px;
  top: 699px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/5ca327ad-fe96-4d57-ae56-f3817691965f.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n17cac7ee-a253-4fe0-bc60-14dc66fe1a91 {
  left: 0px;
  top: 472px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/4b6dd966-3d18-433c-a1d7-8fc00bcc802c.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n79c5b502-801b-4e86-a5ec-9f3903167b07 {
  left: 351px;
  top: 699px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/67a40d5e-f0f3-448a-bd8e-5075f051e1b2.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #n2a4d0f41-9a1f-4db5-a7b6-1064219c4337 {
  left: 351px;
  top: 472px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-e115de26-af01-445a-9ba4-e30fd81547db #nb9845d27-a17f-42ad-b528-93b2449b353f {
  left: 483px;
  top: 84px;
  width: 121px;
  height: 46px;
  background-color: #EBECA3;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#scenarioWrapper {
  width: 660px;
  height: 923px;
}