.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/10d779cc-7326-4b54-8453-8e6802fcaf10.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n64e3caa5-693b-4e74-aedd-35d0fd4d2923 {
  left: 0px;
  top: 121px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/5c97d7ca-1a89-4048-b9ae-15964615ae34.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n528b52d6-437b-4405-870a-dc74a16ea5af {
  left: 0px;
  top: 350px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/dd7afbf7-962b-4d86-913c-e28e96f03750.jpg");
  background-size: 276.14404px 172.14404px;
  z-index: -1;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #na26fc5ec-976a-46f5-912d-ace60d5935c3 {
  left: 332px;
  top: 121px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .tlDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .tcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 4.0px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .trDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 4.0px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .clDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 4.0px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .crDevice {
  width: 11.927981px;
  height: 172.14404px;
  left: 292.07202px;
  top: 15.927981px;
  background-size: 11.927981px 172.14404px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .blDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 4.0px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .bcDevice {
  width: 276.14404px;
  height: 11.927981px;
  left: 15.927981px;
  top: 188.07202px;
  background-size: 276.14404px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .brDevice {
  width: 11.927981px;
  height: 11.927981px;
  left: 292.07202px;
  top: 188.07202px;
  background-size: 11.927981px 11.927981px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .scenarioDevice {
  height: 196px;
  width: 300px;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 .scenarioScreenThumbnail {
  height: 172.14404px;
  width: 276.14404px;
  margin: 11.927981px 0 0 11.927981px;
  background-image: url("../../resources/scenarios/screens/506ca8b3-dbe9-42b1-a125-9bbb5861f3eb.jpg");
  background-size: 276.35977px 172.14404px;
  z-index: -1;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #n2e35defc-ad93-4fe3-8173-9f597fbc9f20 {
  left: 333px;
  top: 350px;
  width: 308px;
  height: 224px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-f21d4c43-d4da-4501-b1a2-509a518dd1f3 #nb7dee856-6a99-4ccb-abeb-a70b3518b355 {
  left: 266px;
  top: 0px;
  width: 121px;
  height: 46px;
  background-color: #EBECA3;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#scenarioWrapper {
  width: 641px;
  height: 574px;
}