#s-0260ca3c-52e0-4ea9-a999-3ce0a00fb47b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0260ca3c-52e0-4ea9-a999-3ce0a00fb47b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0260ca3c-52e0-4ea9-a999-3ce0a00fb47b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0260ca3c-52e0-4ea9-a999-3ce0a00fb47b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0260ca3c-52e0-4ea9-a999-3ce0a00fb47b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0260ca3c-52e0-4ea9-a999-3ce0a00fb47b #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0260ca3c-52e0-4ea9-a999-3ce0a00fb47b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}