#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-506a7cc4-4c63-4730-ac47-8bd256e9320c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}