#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Triangle_2 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-506ca8b3-dbe9-42b1-a125-9bbb5861f3eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}