#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 {
  -pie-background: linear-gradient(to bottom,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  -pie-poll: false;
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Image_72 {
  -ms-transform: rotate(180.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Triangle_1 {
  -ms-transform: rotate(90.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5c97d7ca-1a89-4048-b9ae-15964615ae34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}