#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -4px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5ca327ad-fe96-4d57-ae56-f3817691965f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}