#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67a40d5e-f0f3-448a-bd8e-5075f051e1b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}