#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}