#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 {
  -pie-background: linear-gradient(to bottom,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  -pie-poll: false;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FC663D;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FC663D;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FC663D;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FC663D;
  border-radius: 11px 11px 11px 11px;
  padding-top: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  height: 33px;
  width: 177px;
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FC663D;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FC663D;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FC663D;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FC663D;
  border-radius: 11px 11px 11px 11px;
  padding-top: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  height: calc(100% + -72px);
  width: calc(100% + -72px);
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FC663D;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FC663D;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FC663D;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FC663D;
  border-radius: 11px 11px 11px 11px;
  padding-top: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  height: calc(100% + -72px);
  width: calc(100% + -72px);
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FC663D;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FC663D;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FC663D;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FC663D;
  border-radius: 11px 11px 11px 11px;
  padding-top: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  height: calc(100% + -72px);
  width: calc(100% + -72px);
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Button_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FC663D;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FC663D;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FC663D;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FC663D;
  border-radius: 11px 11px 11px 11px;
  padding-top: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  height: calc(100% + -72px);
  width: calc(100% + -72px);
  -ms-transform: rotate(0.0deg);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6ac60667-37b0-4a50-a4db-6365e5ae9cf8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}