#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 {
  -pie-background: linear-gradient(to bottom,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  -pie-poll: false;
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Image_72 {
  -ms-transform: rotate(180.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8cbb4f2a-f2a5-4822-af2b-b6763506b1b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}