#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8e258d98-b9cc-4e77-b94a-62be687a411e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}