#s-95c928cd-4aec-4178-82a4-612b64eace86 > #backgroundBox {
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: -moz-linear-gradient(top,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  background-image: -webkit-linear-gradient(top,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(40,154,197,0.7)), color-stop(100%,rgba(255,255,255,0.7)));
  background-image: -o-linear-gradient(top,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  background-image: linear-gradient(to bottom,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  position: absolute;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 800px;
  width: 100%;
  height: 100%;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #C5E5F1;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_1 {
  position: absolute;
  width: 1280px;
  height: 84px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_1 > .clipping, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_1 > .paddingLayer {
  height: 84px;
  width: 1280px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Line_1 marker {
  fill: #666666;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 1280px;
  height: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Line_1 {
  width: 1280px;
  height: 0px;
  padding-top: 9px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 9px;
  stroke: #666666;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 {
  position: absolute;
  width: 598px;
  height: 119px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 35.999996pt;
  font-family: 'Roboto-Light',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 > .clipping, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 > .paddingLayer {
  height: 119px;
  width: 598px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 35.999996pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 35.999996pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 35.999996pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_71 > svg {
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_71 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_71 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_71 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_4 {
  position: absolute;
  width: 330px;
  height: 219px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_4 > .clipping, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_4 > .paddingLayer {
  height: 219px;
  width: 330px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_2 {
  position: absolute;
  width: 257px;
  height: 180px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_2 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_2 > svg {
  height: 180px;
  width: 257px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 83px;
  height: 77px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 83px;
  height: 77px;
  position: absolute;
  overflow: hidden;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 83px;
  height: 77px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 83px;
  height: 77px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Ellipse_1 {
  width: 83px;
  height: 77px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(102,102,102,0.4);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 > .shapert-clipping {
  width: 54px;
  height: 43px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 54px;
  height: 43px;
  position: absolute;
  overflow: hidden;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 .content {
  text-shadow: none;
  width: 54px;
  height: 43px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 {
  position: absolute;
  width: 54px;
  height: 43px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Triangle_1 {
  width: 54px;
  height: 43px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_5 {
  position: absolute;
  width: 330px;
  height: 219px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_5 > .clipping, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_5 > .paddingLayer {
  height: 219px;
  width: 330px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_4 {
  position: absolute;
  width: 257px;
  height: 180px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_4 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_4 > svg {
  height: 180px;
  width: 257px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 > .shapert-clipping {
  width: 83px;
  height: 77px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 83px;
  height: 77px;
  position: absolute;
  overflow: hidden;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  width: 83px;
  height: 77px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  width: 83px;
  height: 77px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Ellipse_2 {
  width: 83px;
  height: 77px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(102,102,102,0.4);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 > .shapert-clipping {
  width: 54px;
  height: 43px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 54px;
  height: 43px;
  position: absolute;
  overflow: hidden;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 .content {
  text-shadow: none;
  width: 54px;
  height: 43px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 {
  position: absolute;
  width: 54px;
  height: 43px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Triangle_2 {
  width: 54px;
  height: 43px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #shapewrapper-s-Triangle_2 span#rtr-s-Triangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_3 > .clipping, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 28.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_5 {
  position: absolute;
  width: 219px;
  height: 134px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_5 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_5 > svg {
  height: 134px;
  width: 219px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_6 {
  position: absolute;
  width: 219px;
  height: 134px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_6 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_6 > svg {
  height: 134px;
  width: 219px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_7 {
  position: absolute;
  width: 219px;
  height: 134px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_7 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_7 > svg {
  height: 134px;
  width: 219px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 28.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_4 > .clipping, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 28.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_8 {
  position: absolute;
  width: 219px;
  height: 134px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_8 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_8 > svg {
  height: 134px;
  width: 219px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_9 {
  position: absolute;
  width: 219px;
  height: 134px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_9 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_9 > svg {
  height: 134px;
  width: 219px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_10 {
  position: absolute;
  width: 219px;
  height: 134px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_10 > img, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Image_10 > svg {
  height: 134px;
  width: 219px;
  box-shadow: none;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: rgba(253,153,39,0.35);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FC663D;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FC663D;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FC663D;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FC663D;
  border-radius: 11px 11px 11px 11px;
  box-shadow: 0px 3px 4px 0px #A0A0A0;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Button_3 {
  position: absolute;
  width: 249px;
  height: 105px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Button_3 > .clipping, #s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Button_3 > .paddingLayer {
  height: 33px;
  width: 177px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 36px;
  padding-right: 36px;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-95c928cd-4aec-4178-82a4-612b64eace86 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}