#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9706ace2-d9df-4da6-b366-6b0a7d5926ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}