#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a5517f1f-4eca-472c-900a-0b45571ab404 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}