#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Triangle_1 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Triangle_4 {
  rotation: 90.0;
  margin-left: 5px;
  margin-top: -6px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a7cb14f6-ec3d-4cf2-895d-5475a4ae2240 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}