#s-b35718ba-d2d3-43ef-bfab-df2cd6bd0390 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b35718ba-d2d3-43ef-bfab-df2cd6bd0390 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b35718ba-d2d3-43ef-bfab-df2cd6bd0390 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b35718ba-d2d3-43ef-bfab-df2cd6bd0390 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b35718ba-d2d3-43ef-bfab-df2cd6bd0390 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b35718ba-d2d3-43ef-bfab-df2cd6bd0390 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b35718ba-d2d3-43ef-bfab-df2cd6bd0390 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}