#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ccd9387e-f04a-4634-8908-8ac53ee39581 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}