#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}