#s-f7d15729-a599-4d21-b4ea-5e8795fe63de {
  -pie-background: linear-gradient(to bottom,rgba(40,154,197,0.7),rgba(255,255,255,0.7));
  -pie-poll: false;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Line_1 {
  stroke-width: 9px;
  stroke: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f7d15729-a599-4d21-b4ea-5e8795fe63de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}