<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newmedialab">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewStimuliAddArticialStimuli"></activity>
        <activity
            android:name=".ExperimentSettingsMultipleChoice"
            android:label="ExperimentSettingsMultipleChoice"/>
        <activity
            android:name=".ParticipantSelection"
            android:label="@string/title_activity_participant_selection"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ShowStimuli"
            android:label="@string/title_activity_show_stimuli"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestMultipleChoice"
            android:label="@string/title_activity_test_multiple_choice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestWriting"
            android:label="@string/title_activity_test_writing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParticipantInfo"
            android:label="@string/title_activity_participant_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewStimuliVelFuncAnalyses" />
        <activity
            android:name=".NewStimuli"
            android:label="@string/title_activity_new_stimuli"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MultipleChoiceExperiment"
            android:label="@string/title_activity_multiple_choice_experiment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WritingExperiment"
            android:label="@string/title_activity_writing_experiment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewStimuli"
            android:label="@string/title_activity_view_stimuli"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddStimuli"
            android:label="@string/title_activity_add_stimuli"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".playVideo" />
        <activity android:name=".ExperimentFunction" />
        <activity android:name=".ExperimentSettingsWriting" />
        <activity
            android:name=".MyExperiments"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>